.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
background-color: #D3DEDC;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #313552;
}

input{
  display: inline-block;
  padding: 5px;
  border: 1px solid;
  background-color: #1C6DD0;
  font-family: 'Prompt', sans-serif;
  position: relative;
  top: 32px;
  left: 19.5rem;
  border-radius: 5px;
}


p {
  font-size: 2rem;
  color : #313552;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EA5C2B;
  text-align: center;
  font-family: 'Lobster', cursive;

}
